<launch>

    <include file="$(find imrt_description)/launch/description.launch" />

    <rosparam file="$(find imrt_control)/config/joint_velocity_control.yaml" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

    <node pkg="controller_manager" type="spawner" name="controller_spawner" args="imrt_joint_publisher left_wheel_velocity_controller right_wheel_velocity_controller –-no-timeout" />

</launch>