<launch>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find imrt_description)/urdf/imrt.urdf.xacro" />
    
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub"/>
    <node pkg="joint_state_publisher_gui" name="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    <node pkg="rviz" name="rviz" type="rviz"/>

</launch>