<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />
    <include file="$(find imrt_description)/launch/description.launch" />
    <include file="$(find imrt_control)/launch/diff_drive_control.launch" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model imrt" />

</launch>